@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

* {
  font-size: x-large;
  font-family:  'Outfit', sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 50%;
  margin: -90px 0px 0px 10px;
  padding: 120px 0px;
}

a { 
  color: inherit; 
} 

.ru {
  width: 100vw;
  color: white;
  z-index: 1;
  position: absolute;
  width: 50%;
  margin: -90px 0px 0px 1300px;
  padding: 120px 0px;

}